<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Actor Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <!-- <h1>Actor Name Goes Here </h1> -->
    <div >
      
    </div>
  </body>
</html>
