<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Actor Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1><%= "#{@actor_profile[0]["name"]}" %></h1>
    <div >
      <ul>
        <% @actor_profile.each do |movie| %>
          <li>Movie Title: <a href="/movies/<%= "#{movie["id"]}" %>"><%= "#{movie["title"]}" %></a></li>
          <ul>
            <li>Character Played: <%= movie["character"] %> </li><br>
          </ul>
        <% end %>
      </ul>
    </div>
  </body>
</html>
